@if (isLoading) {
    <div>Loading...</div>
}
@if (!isLoading && errorMessage) {
    <div>{{ errorMessage }}</div>
}
@if (!isLoading && !errorMessage) {
    <div>
        <select [(ngModel)]="selectedBoard" (ngModelChange)="onBoardChange()" [class.default]="isDefaultSelected()">
            <option [ngValue]="null" class="default">Choose board</option>
            @for (board of boards; track board.id) {
              <option [ngValue]="board">{{ board.name }}</option>
            }
        </select>
    </div>
}
