@if (selectedBoard) {
    @if (isLoading) {
        <div class="container">
            <div class="empty-frame">Loading lists...</div>
        </div>
    }
    @if (errorMessage) {
        <div class="container">
            <div class="empty-frame">{{ errorMessage }}</div>
            <div class="add-list-frame">
                <button (click)="openListCreatePopup()">Add list to current board</button>
            </div>
        </div>
        <app-list-create-popup [activeUser]="activeUser" [selectedBoard]="selectedBoard"(confirmEvent)="getLists()"  #listCreatePopup />
    }
    @if (!isLoading && !errorMessage) {
        <div class="scrollable-container" [class.two-frames]="lists.length === 1">
        @for (list of lists; track list.listId) {
            <div class="list-frame">
                {{ list.name }}
                <div class="button-container">
                    <button title="Change list" (click)="openListUpdatePopup(list)">Change list title</button>
                    <button title="Delete list" (click)="openListDeletePopup(list)">Delete list</button>
                </div>
            </div>
        }
            <div class="add-list-frame">
                <button title="Add list" (click)="openListCreatePopup()">Add list to current board</button>
            </div>
        </div>
        <app-list-create-popup [activeUser]="activeUser" [selectedBoard]="selectedBoard" (confirmEvent)="getLists()" #listCreatePopup />
        <app-list-update-popup [activeUser]="activeUser" [selectedBoard]="selectedBoard" (confirmEvent)="getLists()" #listUpdatePopup />
        <app-list-delete-popup [activeUser]="activeUser" [selectedBoard]="selectedBoard" (confirmEvent)="getLists()" #listDeletePopup />

    }
}
