<div>
  <app-user-dropdown (selectedUserChange)="onUserChange($event)" /> 
  <div class="row-class">
    <app-board-dropdown (selectedBoardChange)="onBoardChange($event)" />
    @if (selectedUser && selectedUser.isAdmin) {
      <button title="Add board" (click)="openBoardCreatePopup()">Add board</button>
      @if (selectedBoard) {
        <button title="Edit board" (click)="openBoardUpdatePopup()">Edit board</button>
        <button title="Delete board" (click)="openBoardDeletePopup()">Delete board</button>
      }
    }
  </div>
  <app-board-create-popup [activeUser]="selectedUser" (confirmEvent)="getBoards()" #boardCreatePopup />
  <app-board-update-popup [activeUser]="selectedUser" [selectedBoard]="selectedBoard" (confirmEvent)="getBoards()" #boardEditPopup />
  <app-board-delete-popup [activeUser]="selectedUser" [selectedBoard]="selectedBoard" (confirmEvent)="getBoards()" #boardDeletePopup />
</div>