div {
    margin: auto;
    text-align: center;
    padding: 2%;
    font-size: x-large;
}

select {
    text-align-last: center;
    font-size: x-large;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    outline: #0e0e0e 1px solid;
    padding: 10px 15px;
}

select::-ms-expand { 
    display: none; 
}

select option { 
    color: var(--background-color); 
}

.default{
    color: gray !important;
}