.add-card {
    margin-top: 5%;
}

.loading {
    color: antiquewhite;
}

.error {
    color: firebrick;
}

:host { 
    display: flex; 
    flex-direction: column; 
    overflow: hidden; 
    height: 100%; /* Ensure it takes up the full height of the parent */ 
}

.add-card {
    height: 10%;
}

.container { 
    flex: 1; 
    overflow: hidden;
    display: flex; 
    flex-direction: column;
}

.scrollable-container {
    flex: 1;
    display: flex; 
    flex-direction: column;
    overflow: auto; 
    max-height: calc(100% - 50px);
    width: 95%;
    padding: 10px; 
    margin: 0 auto;
}

.single-card {
    background-color: antiquewhite;;
    border: #0e0e0e 1px solid;
    border-radius: 3%;
    padding: 5%;
    margin: 5% 0.5%;
    text-align: left;
    font-size: medium;
    font-weight: 300;
    width: auto;
}

.content {
    padding-left: 10%;
    padding-bottom: 10%;
}

.author {
    font-size: small;
    text-align: right;
}

.button-container { 
    display: flex; 
    justify-content: space-around;
    margin-top: 10px;
}

.button-container button {
    border-radius: 10%;
    font-size: small;
}

button {
    text-align: center;
    padding: 1% 2%;
    font-size: large;
    border: #0e0e0e 1px solid;
    border-radius: 20%;
}

.add-card button:active {
    background-color: forestgreen;
}