.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: var(--background-color);
    font-size: large;
    min-width: 30%;
    min-height: 30%;
}
  
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
  
.button-container button {
    margin: 0 5px;
    font-size: medium;
    background-color: var(--background-color);
    color: var(--text-color);
    border: #0e0e0e 1px solid;
    border-radius: 2px;
}

.button-container button:disabled {
    background-color: var(--text-color);
    color: #fff
}
 
input {
    font-size: medium;
}

textarea#card-content {
    padding: 10px; /* Increase input field size */ 
    width: 100%; /* Make the input field full width */ 
    height: calc(100% - 60px);
    box-sizing: border-box;
    resize: none;
    flex-grow: 1;
}

select, select option { 
    color: var(--background-color); 
}

select {
    text-align-last: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 5px 15px;
}

select::-ms-expand { 
    display: none; 
}